.row{
    height: 70px;
    border-bottom: 10px solid rgb(58, 54, 54);
}
#logo{
    height: 27px;
    margin: 15px 4px 4px 35px;
}
.menu{
    height: 70px;
    border-bottom: 10px solid rgb(47, 43, 43);
}
.menu ul li{
    list-style: none;
    float: left;
    margin: 18px 32px 10px 0px;
    color: black;
}
.icon{
    height: 70px;
    border-bottom: 10px solid rgb(64, 60, 60);
  
}
.icon ul li{
    list-style: none;
    float: left;
    font-size: small;
   
    margin:0px 0px 0px 50px ;
}
.content{
    height: 350vw;
    background-color: lightgray;
}